<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aniketjain.weatherapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/bankassistlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bankassistlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherApp">
        <activity
            android:name="com.example.bankassist.ChatActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bankassist.MainScreen"
            android:exported="false" />
        <activity
            android:name="com.example.bankassist.ResetPassword"
            android:exported="false" />
        <activity
            android:name="com.example.bankassist.Register"
            android:exported="false" />
        <activity
            android:name="com.example.bankassist.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bankassist.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>